.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .nav-link{
    color: #8E8E8E;
  }
  .call-icon{
    margin: 10px 0px;
    padding: 10px;
    background: #E69515;
    color: #fff;
  }
  .mobile-num{
    color: #000;
    font-weight: 700;
  }
  .hero-bg{
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: -1;
  }
  .display-4{
    font-weight: 700;
  }
  .lead{
    width: 850px;
  }
  .ylw-btn{
    position: relative;
    z-index: 2;
    text-decoration: none;
    vertical-align: middle;
    display: inline-flex;
    gap: 15px;
    border: none;
    border-radius: 0px !important;
    text-align: center;
    background-color: #E69515;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding: 19px 30px;
    overflow: hidden;
    align-items: center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .ylw-btn::after, .ylw-btn::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color:#fff;
    transition: 1s ease;
  }
  .ylw-btn:focus:after, .ylw-btn:focus:before, .ylw-btn:hover:after, .ylw-btn:hover:before, .ylw-btn:active:after, .ylw-btn:active:before{
    height: 410px;
    width: 410px;
  }
  .ylw-btn:before{
    top: -2em;
    left: -2em;
  }
  .ylw-btn:after{
    left: calc(100% + 2em);
    top: calc(100% + 2em);
  }
  .ylw-btn:hover, .ylw-btn:focus, .ylw-btn:active{
    color: #000;
  }
  #footer{
    font-size: 14px;
    box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
    background: #000000;
    color: #fff;
    .footer-top{
        padding: 60px 0 30px 0;
    }
  }
  #footer .footer-top .footer-links ul li{
    padding: 6px 0;
  }
  #footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    font-size: 16px;
  }
  #footer .footer-top .footer-links ul a{
    color: #ffff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
  .footer-links h3{
    color: #E6A135;
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  li.touch p{
    color: white;
    float: right;
    margin-left: 8px;
  }
  .touch i.bi{
    font-size: 19px !important;
    color: #E6A135 !important;
  }
  #footer .footer-top .footer-links{
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul i{
    padding-right: 2px;
    color: #ffff;
    font-size: 26px;
    line-height: 1;
  }