<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Services - Urvisa</title>
    <link rel="apple-touch-icon" href="favicon.ico" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Project CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/animation.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <!-- Flickity -->
    <!-- Flickity CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.min.css" />

    <!-- Flickity JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.pkgd.min.js"></script>

    <!-- Icons css -->
    <link href="assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <!-- Slick slick -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />

    <!-- JQuery -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>

    <!-- Local JS -->
    <script src="assets/js/main.js"></script>

    <!-- GSAP -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EaselPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/PixiPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>

<body>
    <div class="cursor-dot" data-cursor-dot></div>
  <div class="cursor-outline" data-cursor-outline></div>
    <div id="loader-wrapper">
        <div class="loader"></div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="assets/images/logo.svg" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/ourservices.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ourprojects.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aboutus.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <div class="d-flex">
                  <div class="call-icon">
                    <i class="ph-fill ph-phone"></i>
                  </div>
                  <a href="" class="nav-link d-flex flex-column">
                    <span>Call us any time</span>
                    <span class="mobile-num">+91 88888 49176</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="social-icons">
        <a class="social-pill whatsapp fs-1 text-white position-relative"
            href="https://api.whatsapp.com/send/?phone=%2B918888849176&text&type=phone_number&app_absent=0"
            target="_blank" style="cursor: pointer;">
            <i class="ph-light ph-whatsapp-logo"></i>
            <div class="tooltiptext">How can we help?</div>
        </a>
    </div>

    <!-- page content starts here -->
    <div class="breadcumb-wrapper shape-mockup-wrap background-image"
        style="background-image: url('assets/images/ourservice.png');margin-top: 0;">


        <!-- bg animated image/ -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcumb-content">
                        <h1 class="display-4 hero-head ani3 text-white text-center hero-aboutus" style="font-weight: 800;">Our Services
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 1 -->
    <div class="space-top text-center overflow-hidden shape-mockup-wrap" style="    
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;">

        <div class="container">
            <div class="row">
                <p class="lead hat-desc subcomponent about-us mini-title justify-content-center animated" data-animate="fadeInUp" style="transform: translateY(0px); opacity: 1;">
                    <img src="assets/images/bullets.svg" alt="">
                    <span>OUR SERVICES</span>
                </p>
                <h1 class="display-4 section-1-head subcomponent text-center animated" data-animate="fadeInUp" style="transform: translateY(0px); opacity: 1;">Expert-Led Construction Consultancy and<br class="mob-br"> Design Services for Every Industry</h1>
                <p class="lead section-desc subcomponent text-center animated" data-animate="fadeInUp" style="transform: translateY(0px); opacity: 1;">
                    We are a team of skilled designers, engineers, consultants, and construction managers dedicated to delivering top-notch <br class="mob-br"> construction solutions. By integrating sustainable practices, advanced digitalization, and tailored consultancy, we address <br class="mob-br">challenges like urbanization, climate change, and unforeseen events, ensuring customized solutions for every project.
                  </p>
            </div>
            <div class="row gy-30 gx-30">
                <div class="col-xl-3 col-md-6">
                    <div class="d-flex flex-column align-items-center">
                        <img src="assets/images/service/innov.png" class="service-image" alt="">
                        <p class="service-card_title">Truly Innovative</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="d-flex flex-column align-items-center">
                        <img src="assets/images/service/highly.png" class="service-image" alt="">
                        <p class="service-card_title">Highly Professional</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="d-flex flex-column align-items-center">
                        <img src="assets/images/service/sust.png" class="service-image" alt="">
                        <p class="service-card_title">Sustainable Solutions</p>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="d-flex flex-column align-items-center">
                        <img src="assets/images/service/cost.png" class="service-image" alt="">
                        <p class="service-card_title">Cost Effective</p>
                    </div>
                </div>
            </div>
            <div class="space">
                <div class="row gy-30 gx-30">
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Building & Industrial Audits</h5>
                            <p class="card-text service-text">Our audits are designed to ensure compliance, enhance safety, and optimize operational efficiency across diverse sectors. Tailored to industry standards, we cover every critical aspect of building and industrial safety and functionality.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">BIM: Building Information Modeling</h5>
                            <p class="card-text service-text">Our BIM expertise spans architecture, structural design, MEP systems, and project planning, ensuring seamless integration and enhanced efficiency. Whether it’s CAD-to-BIM migration or delivering sustainable solutions, we help achieve safer project outcomes.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Point Cloud: 3D Mapping</h5>
                            <p class="card-text service-text">Leveraging laser scanning and advanced modeling techniques, we empower architects, engineers, and project managers with precise as-built data, enhancing project planning, reducing errors, and streamlining renovation, construction, and facility management processes. </p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">GIS Services</h5>
                            <p class="card-text service-text">We provide accurate spatial data for construction, planning, and resource management. With advanced LiDAR mapping, GIS analysis, precision surveying, & drone surveys, we deliver actionable insights, enabling safer, more efficient project execution and optimized land development.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Rebar & Precast Detailing</h5>
                            <p class="card-text service-text">We offer wide range of rebar sizes, diameters, and strength levels to suit different construction needs. Our expertise in breaking down rebar elements into precise bending shapes, lengths, steel grades, and diameters ensures efficient material use and minimizes construction errors.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-6.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Cost Management</h5>
                            <p class="card-text service-text">By providing expert advice during the planning stage and throughout the project, we help you achieve maximum value for money. Our collaborative approach guarantees that your project stays within budget without compromising quality, ensuring timely completion and financial efficiency.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-7.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">MEPF Design, Detailing and Engineering</h5>
                            <p class="card-text service-text">Our MEPF Design and Engineering service optimizes building systems for efficiency and sustainability. Using advanced tools, we align designs with client priorities like cost and performance, reduce energy use, integrate renewables, and minimize CO2 emissions, delivering eco-friendly, cost-effective solutions.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-8.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Design Services: Architectural & Structural</h5>
                            <p class="card-text service-text">We maximize property potential and value through a holistic approach: analyzing client needs and market trends, creating functional and ambiance-driven designs tailored to workflows, and ensuring seamless execution with cost management, land liaisoning, approvals, and efficient documentation for timely, budget-friendly delivery.</p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-9.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">MEPF Services</h5>
                            <p class="card-text service-text">Our MEPF services enhance building functionality, efficiency, and safety with optimized systems for plumbing, electrical, HVAC, and sustainable energy. Expert consultants adapt to demand cycles, utilizing off-peak periods for research and training to deliver top-quality results year-round.
                            </p>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="card my-card-service">
                            <img src="assets/images/service/service-10.png" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Design & Execution Management</h5>
                            <p class="card-text service-text">

                                We ensure a seamless transition from concept to completion in construction projects. By coordinating the design (including architectural and engineering details) and construction, we ensure every project is executed efficiently, meeting timelines, budgets, and quality standards.</p>
                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer id="footer"
        style="background: url('assets/images/footer-bg.png'); background-size: cover;background-repeat: no-repeat;">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-infos">
                        <div class="footer-info">
                            <a href="/" class="logo">
                                <img src="assets/images/logo.svg" alt="" class="img-fluid" />
                            </a>
                            <p>
                                Innovators in construction, specializing in BIM, GIS, 3D scanning, and sustainability to
                                deliver efficient, resilient, and eco-friendly projects.
                            </p>
                            <p>Monday-Friday: 09.30am-06.30pm.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <ul>
                            <h3>Get in Touch</h3>
                            <li class="touch">
                                <i class="bi bi-geo-alt"></i>
                                <p>
                                    107-109, 1st Floor, R Square,<br />
                                    Near Mai Mangeshkar Hospital, <br />
                                    Warje, Pune- 411058 (India)
                                </p>
                            </li>
                            <li class="touch">
                                <a href="mailto:vijay@urvisatech.com" target="_blank"><i class="bi bi-envelope"></i>
                                    &nbsp;vijay@urvisatech.com
                                </a>
                            </li>
                            <li class="touch" style="padding-top: 0;">
                                <a href="mailto:connect@urvisatech.com" target="_blank"><i class="bi bi-envelope"
                                        style="color: transparent !important;"></i>
                                    &nbsp;connect@urvisatech.com
                                </a>
                            </li>
                            <li class="touch">
                                <a href="tel:7798077240"><i class="bi bi-telephone"></i>&nbsp; +91 77980 77240</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <ul>
                            <h3>Useful Links</h3>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="" id="footerSolutionLink">Contact Us</a>
                            </li>
                            <li>
                                <a href="" id="">What We Do</a>
                            </li>
                            <li>
                                <a href="" id="">Our Team</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links new-footer">
                        <ul>
                            <h3 style="color: transparent !important;">Company</h3>
                            <li>
                                <a href="" target="_blank">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Careers</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Testimonials</a>
                            </li>
                            <li>
                                <a href="" target="_blank">Terms & Conditions</a>
                            </li>


                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <ul>
                            <h3>You can find us at</h3>
                            <div class="social-links mt-3">
                                <a href="https://www.facebook.com/p/Urvisatech-Solutions-Pvt-Ltd-100070894418991/"
                                    target="_blank" class="twitter">
                                    <i class="bi bi-facebook"></i>
                                </a>
                                <a href="<%= Instagram %>" target="_blank" class="linkedin">
                                    <i class="bi bi-instagram"></i>
                                </a>
                                <a href="<%= Twitter %>" target="_blank" class="linkedin">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                                <a href="https://www.linkedin.com/company/urvisatech-solutions-pvt-ltd" target="_blank"
                                    class="linkedin">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p style="margin-top: 1rem;">
                            Copyright © URVISA 2024 All Rights Reserved.
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script>
        window.addEventListener("load", function () {
            document.getElementById("loader-wrapper").style.display = "none";
            document.getElementById("content").style.display = "block";
        });
    </script>
    <script>
        const cursorDot = document.querySelector("[data-cursor-dot]");
    const cursorOutline = document.querySelector("[data-cursor-outline]");
    
    window.addEventListener("mousemove", function(e) {
      const posX = e.clientX;
      const posY = e.clientY;
      
      cursorDot.style.left = `${posX}px`;
      cursorDot.style.top = `${posY}px`;
    
      cursorOutline.animate(
        {
          left: `${posX}px`,
          top: `${posY}px`
        },
        { duration: 500, fill: "forwards" }
      );
    });
    
      </script>

</body>

</html>