:root { --section-title-space: 60px; }
:root { --icon-size: 56px; }
:root { --theme-color: #E69515; }
:root { --white-color: #fff; }
:root { --icon-font-size: 24px; }
:root { 
        --section-space: 100px;--title-color:#000;
        --smoke-color5: #F2F2F2; 
      }
html {
  scroll-behavior: smooth;
}
body{
  cursor: none;
}
a{
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor:none;
}
.navbar-brand img{
  width: 200px;
}
.circle {
  height: 15px;
  width: 15px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
.cursor-dot {
  width: 20px;
  height: 20px;
  background: url('/urvisa/favicon.ico');
  background-size: cover;
  transition: width 0.2s ease, height 0.2s ease;
}
.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000000000;
  pointer-events: none;
}
.sticky{
  position: sticky;
  inset: 0;
  bottom: unset;
  z-index: 10;
}
.nav-link{
  color: #8E8E8E;
}
.nav-link.active{
  color: var(--theme-color) !important;
}
.call-icon{
  margin: 10px 5px;
  padding: 10px;
  background: #E69515;
  color: #fff;
}
.mobile-num{
  color: #000;
  font-weight: 700;
}
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures no overflow from the image */
}

.hero-bg {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center; 
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparentize(#0E1D33, 0.2), transparentize(#0E1D33, 0.8));
}

.hero-slider {
  width: 100%;
  height: 88vh;
  overflow: hidden;

  .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-align: center;
    }
  }

  .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
    &:hover {
      background: transparent;
    }
    .arrow {
      fill: white;
    }
  }

  .flickity-page-dots {
    bottom: 30px;
    .dot {
      width: 30px;
      height: 4px;
      opacity: 1;
      background: #e6951587;
      border: 0 solid white;
      border-radius: 0;
      &.is-selected {
        height: 5px;
        background: var(--theme-color) !important;
        border: 0.5px solid #000;
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-bg {
    object-position: right; /* Position image to the right on smaller screens */
    height: 100%;
  }
  .lead.hat-desc{
    width: 300px;
  }
  .position-absolute.section-1-bg{
    top: unset;
    bottom: 0;
    object-fit: contain;
    width: 150%;
  }
  .about-us{
    margin-top: 35px;
  }
  .cursor-dot, .cursor-outline{
    display: none;
  }
  
}


.hero-content {
  position: relative;
  z-index: 1; /* Ensures content is above the background */
  padding: 2rem; /* Example padding *//* Center the content */
}

.hero-container {
  margin-bottom: 0;
}

.hero-head{
  font-weight: bold;
}
.hero-desc{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 1.777;
}
/* For tablets (medium screens) */
@media (max-width: 1024px) {
  .hero-desc {
    font-size: 16px;
    margin: 25px 0px 15px 0px;
    line-height: 1.6;
    padding: 0 52px !important;
  }
  .hero-aboutus{
    padding-bottom: 15%;
  }
}

/* For mobile devices (small screens) */
@media (max-width: 576px) {
  .hero-head{
    text-align: start;
  }
  .hero-desc {
    font-size: 14px;
    margin: 20px 0px 10px 0px;
    line-height: 1.5;
    text-align: start;
  }
  .ylw-btn.mob-btn{
    float: left;
  }
}
@media (max-width: 768px) {
  .hero-desc {
    font-size: 14px;
    margin: 20px 0px 10px 0px;
    line-height: 1.5;
    padding: 0 !important;
  }
}

.display-4{
  font-size: calc(12px + 2.7vw);
  
}
.ylw-btn{
  position: relative;
  outline: 2px solid #e69515;
  z-index: 2;
  text-decoration: none;
  vertical-align: middle;
  display: inline-flex;
  gap: 15px;
  border: none;
  border-radius: 0px !important;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 12px;
  overflow: hidden;
  align-items: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ylw-btn::after, .ylw-btn::before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color:#E69515;
  transition: 1s ease;
}
.ylw-btn:focus:after, .ylw-btn:focus:before, .ylw-btn:hover:after, .ylw-btn:hover:before, .ylw-btn:active:after, .ylw-btn:active:before{
  height: 410px;
  width: 410px;
}
.ylw-btn:before{
  top: -2em;
  left: -2em;
}
.ylw-btn:after{
  left: calc(100% + 2em);
  top: calc(100% + 2em);
}
.ylw-btn:hover, .ylw-btn:focus, .ylw-btn:active{
  color: #000;
}
.section-1-bg{
  width: 700px;
  right: 0;
  z-index: 0;
}
.section-desc {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6; /* Optional for better readability */
  margin: 20px 0px; /* Optional */
}
.about-us-new{
  left: 0;
  top: 160px;
  width: 500px;
  position: absolute;
}
@media (max-width: 1200px) {
  .about-us-new {
    left: 0;
    top: 160px;
    width: 450px;
    position: absolute;
  }
}
@media (max-width: 1024px) {
  .about-us-new {
    left: 0;
    top: 160px;
    width: 300px;
    position: absolute;
  }
}
@media (max-width: 768px) {
  .about-us-new {
    left: unset;
    top: unset;
    width: auto;
    position: relative;
  }
}
/* For tablets (medium screens) */
@media (max-width: 991px) {
  .section-desc {
    font-size: 13px; /* Slightly smaller for tablets */
    line-height: 1.5; /* Adjusted for smaller text */
    margin: 15px 0px; /* Compact margins */
  }
}

/* For mobile devices (small screens) */
@media (max-width: 576px) {
  .section-desc {
    font-size: 12px; /* Further reduction for mobile screens */
    line-height: 1.4; /* Adjusted for smaller text */
    margin: 10px 0px; /* Compact margins */
  }
}

.section-1-head{
  font-weight: 500;
}
.hat-icon{
  width: 50px;
}
.hat-desc{
  font-weight: 400;
  width: fit-content;
}
.hat-desc {
  font-size: 18px; /* Matches hero-desc */
  font-weight: 400;
  line-height: 1.777; /* Matches hero-desc */
}
.hat-desc-1{
  font-weight: 400;
}
.hat-desc-1 {
  font-size: 18px; /* Matches hero-desc */
  font-weight: 400;
  line-height: 1.777; /* Matches hero-desc */
}
/* For tablets (medium screens) */
@media (max-width: 1024px) {
  .hat-desc {
    font-size: 16px; /* Matches hero-desc */
    line-height: 1.6; /* Matches hero-desc */
  }
  .hat-desc-1{
    font-weight: 400;
  }
  .hat-desc-1 {
    font-size: 16px; /* Matches hero-desc */
    line-height: 1.6; /* Matches hero-desc */
    width: 360px;
  }
}

/* For mobile devices (small screens) */
@media (max-width: 576px) {
  .hat-desc {
    font-size: 14px; /* Matches hero-desc */
    line-height: 1.5; /* Matches hero-desc */
  }
  .hat-desc-1{
    font-weight: 400;
  }
  .hat-desc-1 {
    font-size: 16px; /* Matches hero-desc */
    line-height: 1.6; /* Matches hero-desc */
    width: 261px;
  }
  .section-1-bg.about-us{
    right: 0 ;
    left: unset !important;
  }
}

#footer{
  font-size: 14px;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  
  color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  .footer-top{
      padding: 60px 0 30px 0;
  }
}
.footer-top{
  border-bottom: 1px solid #000;
}
#footer .footer-top .footer-links ul li{
  padding: 6px 0;
}
#footer .footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 16px;
}
#footer .footer-top .footer-links ul a{
  color: #000;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
.footer-links h3{
  color: #E6A135;
  font-size: 20px;
  margin-bottom: 0.5rem;
}
li.touch p{
  color: #000;
  float: right;
  margin-left: 8px;
}
.touch i.bi{
  font-size: 19px !important;
  color: #E6A135 !important;
}
#footer .footer-top .footer-links{
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul i{
  padding-right: 2px;
  color: #000;
  font-size: 26px;
  line-height: 1;
}
.subcomponent {
  opacity: 0;
  transform: translateY(50px); /* Example for fadeInUp */
  transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1), transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.social-links a{
  margin-right: 5px;
}
.space, .space-top{
  padding-top: 100px;
}
.bg-attachment{
  background-attachment: fixed;
}
.background-image, [data-bg-src]{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
[data-overlay]{
  position: relative;
  z-index: 2;
}
[data-overlay] [class^=col-], [data-overlay] [class*=col-]{
  z-index: 1;
}
[data-opacity="8"]:before{
  opacity: 0.8;
}
[data-overlay=title]:before{
  background-color: #15161c5c;
}
[data-overlay=title1]:before{
  background-color: #000000c4;
}
[data-overlay]:before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.title-area{
  margin-bottom: calc(var(--section-title-space) - 10px);
  position: relative;
  z-index: 2;
}
.sub-title{
  display: block;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  font-weight: 400;
  font-family: var(--title-font);
  margin-bottom: 30px;
}
.sub-title.text-white img{
  filter: brightness(9) grayscale(9);
}
.title-area .sec-title{
  margin-bottom: calc(var(--section-title-space) - 36px);
  margin-top: -0.15em;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
}
.sec-btn{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--section-title-space);
}
.play-btn-wrap{
  align-items: center;
  gap: 40px;
  font-size: 20px;
  color: #fff;
  max-width: 142px;
  flex-wrap: nowrap;
  display: flex;
  line-height: 1.6em;
}
.play-btn.style2{
  --icon-size: 56px;
  --icon-font-size: 24px;
}
.play-btn{
  display: inline-block;
  position: relative;
  z-index: 1;
}
.play-btn.style2:after, .play-btn.style2:before{
  background: rgba(255, 255, 255, 0.1);
}
.ripple-animation, .play-btn:after, .play-btn:before{
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: ripple;
}
.play-btn:after, .play-btn:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: -1;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.play-btn.style2 i{
  background: #fff;
  color: #E69515;
  line-height: 58px;
}
.play-btn > i{
  display: inline-block;
  width: var(--icon-size, 100px);
  height: var(--icon-size, 100px);
  line-height: var(--icon-size, 100px);
  text-align: center;
  background-color: var(--theme-color);
  color: var(--white-color);
  font-size: var(--icon-font-size, 30px);
  border-radius: 50%;
  z-index: 1;
  transition: all ease 0.4s;
}
.play-btn:after{
  animation-delay: 2s;
}
.process-card-wrap{
  margin-top: -130px;
  margin-bottom: 130px;
  transform: translate(0, 130px);
  position: relative;
  z-index: 2;
}
.gx-30{
  --bs-gutter-x: 30px;
}
.gy-30{
  --bs-gutter-y: 30px;
}
.process-card{
  background: var(--white-color);
  padding: 30px 30px 40px;
  box-shadow: 0px 4px 18.4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  position: relative;
}
.process-card .process-card-number{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
}
.process-card .process-card-number span{
  display: inline-block;
  background: #000;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  transition: 0.4s;
}
.process-card .process-card-title{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}
.process-card .process-card-text{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -0.5em;
  color: #8e8e8e;
}
.process-card:after{
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid;
  border-image: linear-gradient(180deg, var(--theme-color), transparent) 1;
  transition: 0.4s;
  opacity: 0;
}
.process-card:hover{
  box-shadow: 0px 4px 18.4px rgba(234, 85, 1, 0.2);
  
}
.process-card:hover .process-card-number span{
  background-color: var(--theme-color) !important;
}
.process-card:hover .process-card-title{
  color: var(--theme-color);
}
.process-card:hover:after{
  opacity: 1;
}
.space, .space-bottom{
  padding-bottom: var(--section-space);
}
.space, .space-top{
  padding-top: var(--section-space);
}
.client-area-1{
  z-index: 1;
  background-attachment: fixed;
}
.client-area-1:before{
  z-index: -1;
}
[data-opacity="9"]:before{
  opacity: 0.9;
}
.shape-mockup{
  position: absolute;
  z-index: -1;
}
.space-1{
  padding: 50px 0;
}
.mini-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100% !important;
  font-size: 16px;
  margin-bottom: 30px;
  gap: 5px;
}
@media (max-width: 576px){
  .mini-title{
    justify-content: center;
  }
}

/* Service CSS start */
.service-card {
  background: var(--white-color);
  border-radius: 0px;
  padding: 30px 50px 0px 30px;
  border: 2px solid var(--white-color);
  position: relative;
  margin-bottom: 25px;
  transition: 0.4s;
}
.service-card:after {
  content: "";
  position: absolute;
  right: 40px;
  top: 65px;
  width: 1px;
  height: 1px;
  background: var(--title-color);
  opacity: 0.1;
}
.service-card-shadow-text {
  position: absolute;
  transform: rotate(-90deg) translate(-50%, 0);
  font-size: 36px;
  font-weight: 600;
  font-family: var(--title-font);
  color: transparent;
  -webkit-text-stroke: 1px var(--title-color);
  transform-origin: left top;
  top: 50%;
  left: 35px;
  opacity: 0.15;
}
.service-card_content {
  padding: 0 0px 0 10px;
}
.service-card_icon {
  display: inline-block;
  margin-bottom: 35px;
  position: relative;
  padding: 10px 0 0 10px;
  margin-left: -10px;
}
.service-card_icon img {
  transition: 0.4s;
  width: 45px;
}
.service-card_icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background: var(--theme-color);
  opacity: 0.1;
}
.service-card_title {
  margin-top: -0.3em;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
}
.service-card_title a {
  color: var(--title-color);
}
.service-card_title a:hover {
  color: var(--theme-color);
}
.service-card_text {
  font-size: 14px;
  margin-bottom: 23px;
  color: #8E8E8E;
}
.service-card .btn-wrap {
  justify-content: end;
  position: relative;
  transform: translate(0, 25px);
  margin-top: -25px;
  margin-right: -20px;
}
.icon-btn{
  display: inline-block;
  width: var(--btn-size, 40px);
  height: var(--btn-size, 40px);
  line-height: var(--btn-size, 50px);
  font-size: var(--btn-font-size, 20px);
  background-color: #0077B5;
  color: var(--white-color);
  text-align: center;
  border-radius: 0px;
  border: none;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-card .btn-wrap .icon-btn {
  background: var(--theme-color);
  color: var(--white-color);
}
.service-card .btn-wrap .ylw-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  opacity: 0;
  transition: 0.4s;
}
.service-card:hover {
  border-color: var(--theme-color);
}
.service-card:hover .service-card_icon img {
  transform: rotateY(180deg);
}
.service-card:hover .btn-wrap .ylw-btn {
  opacity: 1;
}
@media (max-width: 1399px) {
  .service-card {
    padding: 30px 20px 0px 20px;
  }
  .service-card .service-card:after {
    right: 35px;
  }
  .service-card .service-card-shadow-text {
    font-size: 30px;
    left: 25px;
  }
  .service-card .btn-wrap {
    margin-right: -5px;
  }
}
.service-card-title{
  gap: 15px;
}
.service-card-add-text{
  font-size: 16px;
  font-weight:400;
}
.mini-bullet{
  font-size: 14px;
  margin-bottom: 4px;
}
.mini-bullet img{
  width: 20px;
  margin-right: 4px;
}
.btn-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
}
.service-card .ylw-btn{
  font-size: 20px;
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align elements consistently */
  height: 100%; /* Ensure cards have equal height */
}

.service-card_text {
  margin-bottom: 1rem; /* Space out the paragraph from the heading */
}

.service-card-add-text {
  margin-top: auto; /* Push the heading to the bottom of the card content */
}

/* Process */
.process-thumb2-1 img{
  max-width: 100%;
  height: auto;
}
.process-grid-list {
  position: relative;
}
.process-grid-list .process-grid-list-bg-text {
  font-size: 250px;
  font-weight: 600;
  color: var(--title-color);
  font-family: var(--title-font);
  letter-spacing: -0.015em;
  text-transform: uppercase;
  opacity: 0.03;
  transform: rotate(-90deg) translate(50%, -100%);
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: right top;
  z-index: -1;
  /* Medium Large devices */
  /* Large devices */
  /* Medium devices */
  /* Small devices */
  /* Extra small devices */
}
@media (max-width: 1399px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 210px;
  }
}
@media (max-width: 1199px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 180px;
  }
}
@media (max-width: 991px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 250px;
  }
}
@media (max-width: 767px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 200px;
  }
}
@media (max-width: 575px) {
  .process-grid-list .process-grid-list-bg-text {
    display: none;
  }
}
.process-grid-list .process-grid {
  --left-space: 50px;
  /* Medium Large devices */
  /* Large devices */
}
.process-grid-list .process-grid ~ .process-grid {
  margin-left: var(--left-space);
}
.process-grid-list .process-grid ~ .process-grid ~ .process-grid {
  margin-left: calc(var(--left-space) * 2);
}
.process-grid-list .process-grid ~ .process-grid ~ .process-grid ~ .process-grid {
  margin-left: calc(var(--left-space) * 3);
}
.process-grid-list .process-grid ~ .process-grid ~ .process-grid ~ .process-grid ~ .process-grid {
  margin-left: calc(var(--left-space) * 4);
}
@media (max-width: 1399px) {
  .process-grid-list .process-grid {
    --left-space: 40px;
  }
}
@media (max-width: 1199px) {
  .process-grid-list .process-grid {
    --left-space: 0px;
  }
}
.process-grid-list.style2 .process-grid-list-bg-text {
  font-size: 180px;
}

.process-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  /* Extra small devices */
}
.process-grid:not(:last-child) {
  margin-bottom: 60px;
}
.process-grid .process-grid-number {
  flex: none;
  font-size: 80px;
  font-weight: 600;
  font-family: var(--title-font);
  margin-bottom: 0;
  line-height: 1;
  opacity: 0.06;
  letter-spacing: -0.015em;
  position: relative;
  transition: 0.4s;
  color: var(--title-color);
  padding-left: 17px;
  margin-top: -0.3em;
}
.process-grid .process-grid-number:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 40px;
  height: 50px;
  background: var(--theme-color);
  opacity: 0.1;
  z-index: -1;
}
.process-grid .process-grid-title {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.process-grid .process-grid-text {
  margin-bottom: -0.3em;
  max-width: 500px;
  font-size: 14px;
  color: #8e8e8e;
}
.process-grid:hover .process-grid-number {
  opacity: 1;
  color: var(--theme-color);
}
@media (max-width: 575px) {
  .process-grid {
    flex-wrap: wrap;
    gap: 20px;
  }
  .process-grid .process-grid-number {
    font-size: 60px;
    padding-left: 0;
  }
  .process-grid:not(:last-child) {
    margin-bottom: 50px;
  }
}

/* Portfolio */
.portfolio-card{
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  padding-bottom: 30px;
}
.portfolio-card.style2 {
  border-bottom: 1px solid rgba(21, 22, 28, 0.6);
  transition: 0.4s;
  padding-bottom: 0;
  background: var(--smoke-color);
}
.portfolio-card.style2:after {
  display: none;
}
.portfolio-card.style2 .portfolio-card-thumb {
  position: relative;
}
.portfolio-card .portfolio-card-thumb img{
  border-radius: 0px;
  width: 100%;
}
.portfolio-card.style2 .portfolio-card-thumb:after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.4s;
}
.portfolio-card.style2 .portfolio-card-thumb .icon-btn {
  background: var(--white-color);
  border-radius: 0;
  opacity: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, calc(-50% - 20px));
}
.portfolio-card.style2 .portfolio-card-thumb .icon-btn:hover {
  background: var(--title-color);
  color: var(--white-color);
}
.portfolio-card.style2 .portfolio-card-thumb .portfolio-card-number {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--title-color);
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.4s;
}
.portfolio-card.style2 .portfolio-card-details {
  position: initial;
  opacity: 1;
  padding: 0px 25px 25px;
  display: block;
  background: #f5f5f5;
}
.portfolio-card.style2 .portfolio-card-subtitle {
  background: var(--theme-color);
  color: var(--white-color);
  transform: translate(0, -50%);
  margin-bottom: 12px;
}
.portfolio-card.style2 .portfolio-card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  /* Medium Large devices */
}
.portfolio-card.style2 .portfolio-card-title a {
  color: var(--title-color);
}
.portfolio-card.style2 .portfolio-card-title a:hover {
  color: var(--theme-color);
}
@media (max-width: 1399px) {
  .portfolio-card.style2 .portfolio-card-title {
    font-size: 22px;
  }
}
.portfolio-card.style2 .portofolio-card-text {
  display: block;
  color: var(--body-color);
  opacity: 0.9;
  margin-bottom: 20px;
}
.portfolio-card.style2:hover {
  border-color: var(--theme-color);
}
.portfolio-card.style2:hover .portfolio-card-thumb:after {
  opacity: 0.5;
}
.portfolio-card.style2:hover .portfolio-card-thumb .icon-btn {
  opacity: 1;
  transform: translate(50%, -50%);
}
.portfolio-card.style2:hover .portfolio-card-thumb .portfolio-card-number {
  opacity: 0;
}
.portfolio-card.style2:hover .portfolio-card-title a {
  color: var(--theme-color);
}
.portfolio-card.style2:hover .btn-with-icon {
  color: var(--title-color);
}
.portfolio-card .portfolio-card-subtitle{
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--title-font);
  margin-bottom: 17px;
  padding: 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.29);
}
.portfolio-card .portfolio-card-details{
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  padding: 60px;
  flex-wrap: wrap;
  transition: 0.4s;
  opacity: 0;
  gap: 30px;
}
.portfolio-card .portofolio-card-text{
  font-size: 14px;
  font-weight: 400;
  color: #696969;
  opacity: 0.9;
  margin-bottom: -0.3em;
}
.btn-with-icon{
  font-size: 15px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--body-color);
  text-transform: uppercase;
  display: inline-flex;
  gap: 10px;
  transition: 0.4s;
  border: 0;
  background: transparent;
}
.btn-with-icon .btn-icon{
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  display: inline-flex;
  background: rgba(21, 22, 28, 0.1);
  color: var(--title-color);
  transition: inherit;
  justify-content: center;
  align-items: center;
}
.btn-with-icon:hover{
  color: var(--theme-color);
}
.btn-with-icon:hover .btn-icon{
  background: var(--theme-color);
  color: var(--white-color);
  transform: rotate(45deg);
}
/*------------------- 4.00. Portfolio -------------------*/
/* Portfolio 1 ---------------------------------- */
.portfolio-card {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  padding-bottom: 30px;
  /* Medium devices */
  /* Small devices */
}
.portfolio-card:after {
  content: "";
  position: absolute;
  inset: 0 0 30px 0;
  background: linear-gradient(190.47deg, rgba(2, 2, 18, 0) 5.21%, rgba(2, 2, 18, 0.8) 92.2%);
}
.portfolio-card .portfolio-card-thumb {
  position: relative;
  border-radius: 0px;
}
.portfolio-card .portfolio-card-thumb img {
  border-radius: 0px;
  width: 100%;
}
.portfolio-card .portfolio-card-thumb .icon-btn {
  position: absolute;
  right: 40px;
  top: 0px;
  background: var(--white-color);
  color: var(--theme-color);
  z-index: 1;
  border-radius: 50%;
  opacity: 0;
}
.portfolio-card .portfolio-card-details {
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  padding: 60px;
  flex-wrap: wrap;
  transition: 0.4s;
  opacity: 0;
  gap: 30px;
}
.portfolio-card .portfolio-card-subtitle {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--title-font);
  margin-bottom: 17px;
  padding: 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.29);
}
.portfolio-card .portfolio-card-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 2px;
}
.portfolio-card .portfolio-card-title a {
  color: var(--white-color);
}
.portfolio-card .portfolio-card-title a:hover {
  color: var(--theme-color);
}
.portfolio-card .portofolio-card-text {
  font-size: 14px;
  font-weight: 400;
  color: #696969;
  opacity: 0.9;
  margin-bottom: -0.3em;
}
.portfolio-card .btn {
  position: absolute;
  right: 40px;
  bottom: -32px;
  z-index: 2;
  opacity: 0;
  transition: 0.4s;
  border: 2px solid var(--white-color);
}
@media (max-width: 991px) {
  .portfolio-card .portfolio-card-details {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .portfolio-card .portfolio-card-details {
    padding: 30px 30px 60px 30px;
  }
  .portfolio-card .portfolio-card-title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .portfolio-card .portfolio-card-thumb .icon-btn {
    right: 30px;
  }
  .portfolio-card .btn {
    right: auto;
    left: 30px;
  }
  .portfolio-card .portfolio-card-thumb img {
    height: 350px;
    object-fit: cover;
  }
}

.portfolio-slider1 .slick-current .portfolio-card {
  /* Small devices */
}
.portfolio-slider1 .slick-current .portfolio-card .portfolio-card-thumb .icon-btn {
  opacity: 1;
  top: 40px;
}
.portfolio-slider1 .slick-current .portfolio-card .portfolio-card-details {
  bottom: 30px;
  opacity: 1;
}
.portfolio-slider1 .slick-current .portfolio-card .btn {
  opacity: 1;
  bottom: 0;
}
@media (max-width: 767px) {
  .portfolio-slider1 .slick-current .portfolio-card .portfolio-card-thumb .icon-btn {
    top: 30px;
  }
}
.portfolio-card.style2:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.portfolio-card.style2 .portfolio-card-thumb img {
  transition: transform 0.3s ease;
}

.portfolio-card.style2:hover .portfolio-card-thumb img {
  transform: scale(1.1);
}
.social-icons{
  display: flex;
  position: fixed;
  bottom: 0px;
  right: 20px;
  flex-direction: column;
  z-index: 998;
}
a.social-pill{
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #25d366;
  
}
a.social-pill img{
  width: 60px;
  height: 60px;
}

/*------------------- 4.00. Testimonial  -------------------*/
/* Testimonial 1 ---------------------------------- */
.testimonial-area-1 {
  /* Large devices */
}
@media (max-width: 1199px) {
  .testimonial-area-1 {
    background-image: none !important;
  }
}

.testimonial-card {
  padding: 50px;
  border-radius: 2px;
  overflow: hidden;
  /* Extra small devices */
  /* Extra small devices */
}
.testimonial-card .testimonial-card-title {
  color: var(--white-color);
  font-weight: 600;
  margin-top: -0.3em;
  margin-bottom: 13px;
}
.testimonial-card .testimonial-card-text {
  color: var(--white-color);
  font-size: 16px;
  max-width: 462px;
  margin-bottom: 37px;
}
@media (max-width: 575px) {
  .testimonial-card {
    padding: 40px;
  }
}
@media (max-width: 375px) {
  .testimonial-card {
    padding: 30px;
  }
}

.testi-card {
  display: flex;
  gap: 30px;
  position: relative;
  /* Extra small devices */
}
.testi-card .quote-icon {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
}
.testi-card .testi-card-thumb {
  flex: none;
  display: inline-block;
}
.testi-card .testi-card-thumb img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.testi-card .testi-card_title {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--title-font);
  margin-bottom: 14px;
  margin-top: -0.3em;
}
.testi-card .testi-card_text {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--title-font);
  margin-bottom: 36px;
  line-height: 2em;
  max-width: 473px;
}
.testi-card .testi-profile-title {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--title-font);
  margin-bottom: 0px;
  margin-top: -0.3em;
  transition: 0.4s;
  color: #fff;
}
.testi-card .testi-profile-desig {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--body-font);
  transition: 0.4s;
}
.testi-card .testi-card-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 60px;
}
@media (max-width: 575px) {
  .testi-card {
    display: block;
  }
  .testi-card .testi-card-thumb {
    margin-bottom: 30px;
  }
}

.testi-counter-wrap .testi-counter-number {
  font-size: 24px;
  font-weight: 600;
  color: var(--theme-color);
  margin-bottom: 7px;
}
.testi-counter-wrap .testi-counter-text {
  margin-bottom: -0.3em;
  font-size: 16px;
}

/* Testimonial 2 ---------------------------------- */
.testimonial-area-2 {
  margin-top: -30px;
  padding: 130px 0 300px;
  position: relative;
  /* Medium Large devices */
  /* Large devices */
}
@media (max-width: 1399px) {
  .testimonial-area-2 {
    padding: 130px 0 200px;
  }
}
@media (max-width: 1199px) {
  .testimonial-area-2 {
    padding: 70px 0 0px;
  }
  .slick-dots{
    display: none !important;
  }
  .title-area .sec-title{
    white-space: normal !important;
  }
}

.testimonial-anim-shape2-1 {
  width: 72.7%;
  /* Extra large devices */
  /* Medium Large devices */
  /* Medium Large devices */
  /* Large devices */
}
@media (max-width: 1500px) {
  .testimonial-anim-shape2-1 {
    width: 80.1%;
  }
}
@media (max-width: 1399px) {
  .testimonial-anim-shape2-1 {
    width: 77.5%;
  }
}
@media (max-width: 1299px) {
  .testimonial-anim-shape2-1 {
    width: 81%;
  }
}
@media (max-width: 1199px) {
  .testimonial-anim-shape2-1 {
    width: 100%;
  }
}

.testimonial_bg_thumb2-1 {
  position: absolute;
  top: 30px;
  bottom: 200px;
  right: 0;
  width: 72.7%;
  z-index: -2;
  /* Extra large devices */
  /* Medium Large devices */
  /* Medium Large devices */
  /* Large devices */
}
@media (max-width: 1500px) {
  .testimonial_bg_thumb2-1 {
    width: 80.1%;
  }
}
@media (max-width: 1399px) {
  .testimonial_bg_thumb2-1 {
    width: 77.5%;
    bottom: 100px;
  }
}
@media (max-width: 1299px) {
  .testimonial_bg_thumb2-1 {
    width: 81%;
  }
}
@media (max-width: 1199px) {
  .testimonial_bg_thumb2-1 {
    width: 100%;
    bottom: 0px;
  }
}

.testimonial_shape_2-1 {
  z-index: -3;
}

.testimonial_shape_2-2 {
  position: absolute;
  bottom: 200px;
  right: 0;
  z-index: -1;
  /* Medium Large devices */
  /* Large devices */
}
@media (max-width: 1399px) {
  .testimonial_shape_2-2 {
    bottom: 100px;
  }
}
@media (max-width: 1199px) {
  .testimonial_shape_2-2 {
    bottom: 0;
  }
}

.testimonial_shape_2-3 {
  position: absolute;
  top: 30px;
  right: 5%;
  z-index: 1;
}

.testimonial_shape_2-4 {
  position: absolute;
  left: 3%;
  top: 20%;
  width: 150px;
  height: 10px;
  background: var(--theme-color);
  /* Large devices */
}
@media (max-width: 1199px) {
  .testimonial_shape_2-4 {
    display: none;
  }
}

.testimonial_thumb2-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 313px;
  width: 45.3%;
  /* Medium Large devices */
  /* Large devices */
}
@media (max-width: 1399px) {
  .testimonial_thumb2-1 {
    width: 47.7%;
    top: 310px;
  }
}
@media (max-width: 1199px) {
  .testimonial_thumb2-1 {
    display: none;
  }
}

.testi-slider2 {
  margin-left: 342px;
  margin-top: 90px;
  /* Extra large devices */
  /* Medium Large devices */
  /* Large devices */
}
.testi-slider2 .slick-dots {
  text-align: start;
  margin-top: 60px;
  margin-left: 12px;
  display: flex;
  list-style: none;
}
.testi-slider2 .slick-dots li {
  margin-right: 8px;
}
.testi-slider2 .slick-dots li.slick-active button {
  background: var(--theme-color);
}
.testi-slider2 .slick-dots button {
  width: 40px;
  height: 5px;
  background: #3A3A3A;
  border-radius: 0;
  border: 0;
}
.testi-slider2 .slick-dots button:before {
  display: none;
}
@media (max-width: 1500px) {
  .testi-slider2 {
    margin-left: 365px;
  }
}
@media (max-width: 1399px) {
  .testi-slider2 {
    margin-top: 93px;
    margin-left: 330px;
  }
}
@media (max-width: 1199px) {
  .testi-slider2 {
    margin: 0;
  }
}

.testi-card.style2 {
  display: block;
  /* Medium Large devices */
}
.testi-card.style2 .testi-card-thumb {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 34px;
}
.testi-card.style2 .testi-card-thumb img {
  border-radius: 0;
  flex: none;
}
.testi-card.style2 .testi-card-thumb .quote-icon {
  position: initial;
  opacity: 1;
}
.testi-card.style2 .testi-card-thumb .quote-icon img {
  width: auto;
  height: auto;
}
.testi-card.style2 .testi-card_title {
  color: var(--white-color);
  text-transform: uppercase;
}
.testi-card.style2 .testi-card_text {
  font-size: 22px;
  font-weight: 400;
  font-family: var(--body-font);
  color: var(--white-color);
  opacity: 0.8;
  max-width: none;
  line-height: 1.5em;
}
/* .testi-card.style2 .testi-profile-title {
  color: var(--white-color);
  font-size: 18px;
  text-transform: uppercase;
} */
.testi-card.style2 .testi-profile-desig {
  color: var(--white-color);
  opacity: 0.9;
}
@media (max-width: 1399px) {
  .testi-card.style2 .testi-card_text {
    font-size: 20px;
  }
}

/* Contact form inputs */
.contact-us-input {
  height: 50px;
  background: #404040e7;
  border: none;
  font-size: 14px;
  color: #fff;
  width: 100%;
  padding: 0 10px;
  transition: border-color 0.3s;
}
.form-control:focus{
  background: #404040e7;
  color: #fff;
}
.contact-us-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.contact-us-input:focus-visible {
  outline: none;
  border-bottom-color: #fff; /* highlight on focus */
}

/* Textarea styling */
.contact-us-textarea {
  padding-top: 14px;
  background: #404040e7;
  border: none;
  color: #fff;
  font-size: 14px;
  resize: none;
  width: 100%;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}
.contact-us-textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.contact-us-textarea:focus-visible {
  outline: none;
  border-bottom-color: #fff;
}
input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; 
  }

  .mob-btn{
    display: none;
  }
  .web-btn{
    display: block;
  }
  @media (max-width: 768px){
    .mob-btn{
      display: block;
    }
    .web-btn{
      display: none;
    }
  }
  .logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  
  .logo-img {
    object-fit: contain;
    height: 100px;
    width: 200px;
  }
  
  /* Below 998px (Tablet Landscape) */
  @media (max-width: 998px) {
    .logo-row {
      flex-wrap: wrap; /* Allow wrapping */
      justify-content: center; /* Center items */
    }
    .logo-img {
      height: 80px; /* Smaller height */
      width: 150px; /* Smaller width */
    }
  }
  
  /* Below 768px (Tablet Portrait & Mobile Landscape) */
  @media (max-width: 768px) {
    .logo-row {
      flex-direction: column; /* Stack logos vertically */
      align-items: center; /* Center items */
    }
    .logo-img {
      height: 70px; /* Even smaller height */
      width: 120px; /* Even smaller width */
      margin-bottom: 10px; /* Add spacing between logos */
    }
  }
  
  /* Below 576px (Mobile Portrait) */
  @media (max-width: 576px) {
    .logo-row {
      flex-direction: column; /* Keep stacked layout */
      align-items: center;
    }
    .logo-img {
      height: 70px;
      width: 120px;
    }
  }
  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  /* From Uiverse.io by Shoh2008 */ 
.loader {
  position: relative;
  font-size: 16px;
  width: 5.5em;
  height: 5.5em;
}

.loader:before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 100%;
  width: 4px;
  background: #000;
  left: 50%;
  top: 50%;
}

.loader:after {
  content: '';
  position: absolute;
  left: 0.2em;
  bottom: 0.18em;
  width: 1em;
  height: 1em;
  background-color: #E69515;
  border-radius: 15%;
  animation: rollingRock 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes rollingRock {
  0% {
    transform: translate(0, -1em) rotate(-45deg)
  }

  5% {
    transform: translate(0, -1em) rotate(-50deg)
  }

  20% {
    transform: translate(1em, -2em) rotate(47deg)
  }

  25% {
    transform: translate(1em, -2em) rotate(45deg)
  }

  30% {
    transform: translate(1em, -2em) rotate(40deg)
  }

  45% {
    transform: translate(2em, -3em) rotate(137deg)
  }

  50% {
    transform: translate(2em, -3em) rotate(135deg)
  }

  55% {
    transform: translate(2em, -3em) rotate(130deg)
  }

  70% {
    transform: translate(3em, -4em) rotate(217deg)
  }

  75% {
    transform: translate(3em, -4em) rotate(220deg)
  }

  100% {
    transform: translate(0, -1em) rotate(-225deg)
  }
}
.wcu-card-wrap {
  max-width: 364px;
  text-align: start;
  margin: 0 42px;
  position: relative;
  z-index: 2;
  /* Medium Large devices */
}
.wcu-card-wrap.left-align {
  text-align: end;
}
.wcu-card-wrap.left-align .wcu-card {
  flex-direction: row-reverse;
}
@media (max-width: 1399px) {
  .wcu-card-wrap {
    margin: 0;
  }
}

.wcu-card {
  display: inline-flex;
  gap: 14px;
}
.wcu-card:not(:last-child) {
  margin-bottom: 55px;
}
.wcu-card-icon {
  flex: none;
}
.wcu-card-icon img {
  transition: 0.4s;
  width: 40px;
}
.wcu-card .wcu-card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: -0.2em;
  white-space: nowrap;
}
.wcu-card .wcu-card-text {
  margin-bottom: -0.5em;
  font-size: 14px;
}
.wcu-card:hover .wcu-card-icon img {
  transform: rotateY(180deg);
}

/* Large devices */
@media (max-width: 1199px) {
  .wcu-card-wrap {
    max-width: none;
  }
  .wcu-card-wrap.left-align {
    text-align: start;
  }
  .wcu-card-wrap.left-align .wcu-card {
    flex-direction: row;
  }
  .col-xl-4 .wcu-thumb1-1 img{
    max-width: 45%;
    margin-top: 50px;
  }
}
/* Medium devices */
@media (max-width: 991px) {
  .wcu-card-wrap.left-align {
    text-align: start;
  }
  .wcu-card .wcu-card-text {
    font-size: 14px;
  }
  .mob-br{
    display: none !important;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .wcu-card:not(:last-child) {
    margin-bottom: 50px;
  }
  .wcu-card{
    padding: 0 30px;
  }
}
.wcu-thumb1-1 img{
  max-width: 100%;
  height: auto;
}
.numbers{
  font-size: 70px;
  font-weight: 600;
}
.numbers, .number-desc{
  color: #fff;
}
.logo-img svg{
  position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: #000;
      opacity: 0;
      visibility: hidden;
      transform: translateY(100%);
}
.slider-container {
  max-height: 600px; /* Adjust slider height */
  width: 100%; /* Full width */
  margin: 20px auto; /* Center the slider */
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #E69515;
  color: #282828;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent;
  transform: translateX(-50%);
}
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #E69515;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  bottom: 117%;
  left: -80%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.social-pill:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.social-pill .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent;
  transform: translateX(-50%);
}
.why-us{
  color: #fff;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 40px;
}

/* About us css starts here */

.breadcumb-wrapper {
  background: var(--title-color);
  padding: 230px 0 185px 0px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-size: cover !important;
  background-repeat: no-repeat;
}
.breadcumb-wrapper:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.breadcumb-wrapper .breadcumb-thumb {
  position: absolute;
  bottom: 0;
}
@media (max-width: 575px) {
  .breadcumb-wrapper {
    margin-top: 76px;
  }
}

/* Large devices */
@media (max-width: 1199px) {
  .breadcumb-wrapper {
    padding: 160px 0 0px;
  }
  .breadcumb-title {
    font-size: 50px;
  }
}
/* Small devices */
@media (max-width: 767px) {
  .breadcumb-wrapper {
    padding: 140px 0 0px;
  }
  .breadcumb-title {
    font-size: 46px;
  }
}
/* Extra small devices */
@media (max-width: 575px) {
  .breadcumb-wrapper {
    padding: 120px 0 0px;
  }
  .breadcumb-title {
    font-size: 40px;
  }
}
.about-grid-wrap {
  display: flex;
  gap: 30px 40px;
  align-items: center;
  max-width: 480px;
  /* Extra small devices */
}
.about-grid-wrap:not(:last-child) {
  margin-bottom: 35px;
}
.about-grid-wrap .icon {
  background: var(--theme-color);
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  flex: none;
  transition: 0.4s;
}
.about-grid-wrap .icon img {
  transition: 0.4s;
}
.about-grid-wrap .title {
  font-size: 22px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 7px;
  margin-top: -0.3em;
}
.about-grid-wrap .text {
  margin-bottom: -0.3em;
  font-size: 14px;
}
@media (max-width: 375px) {
  .about-grid-wrap {
    flex-wrap: wrap;
  }
}
.process-card .process-card-number span img{
  height: 40px;
  padding: 6px;
}
.wcu-card-icon.wcu-image img{
  width: 65px;
}
/* About us css ends here */


/* contact us css start here */
.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.service-image{
  object-fit: contain;
  width: 100px;
  height: 150px;
}

.my-card-service {
  border: 0;
  background-color: #f5f5f5;
  transition: background-color 0.4s ease-in-out;
}

.my-card-service:hover {
  background-color: #FFF8ED;
}

.my-card-service .card-img-top {
  filter: grayscale(1);
  transition: filter 0.4s ease-in-out;
}

.my-card-service:hover .card-img-top {
  filter: grayscale(0);
}

.my-card-service .card-title {
  text-align: start;
  font-weight: 600;
  font-size: 27px;
  transition: color 0.4s ease-in-out;
}

.my-card-service:hover .card-title {
  color: var(--theme-color);
  font-weight: bold;
}

p.card-text.service-text {
  text-align: start;
  font-size: 17px;
  font-weight: 300;
  color: #393939;
  margin-bottom: 1rem !important;
  transition: color 0.4s ease-in-out;
}

.my-card-service:hover p.card-text.service-text {
  color: #000;
  font-weight: 400;
}
@media (max-width: 768px){
  .my-card-service .card-title{
    font-size: 25px;
  }
  p.card-text.service-text{
    font-size: 15px;
  }
}
@media (max-width: 500px){
  .my-card-service .card-title{
    font-size: 21px;
  }
  p.card-text.service-text{
    font-size: 11px;
  }
}
.cursor-dot {
  width: 20px;
  height: 20px;
  background: url('/urvisa/favicon.ico');
  background-size: cover;
  transition: width 0.2s ease, height 0.2s ease;
}
.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
}
.cursor-dot, .cursor-outline{
  position:fixed;
  top:0;
  left:0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index:10000000000000000;
  pointer-events: none;
}
.why-tab-wrap {
  gap: 25px;
  /* margin-right: 56px; */
  /* Medium Large devices */
  /* Large devices */
  /* Extra small devices */
}
.why-tab-wrap .nav-item {
  width: 100%;
}
.why-tab-wrap .nav-item .nav-link {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--title-font);
  background: var(--white-color);
  color: var(--body-color);
  border: 0;
  filter: drop-shadow(0px 8px 25px rgba(21, 22, 28, 0.02));
  width: 100%;
  text-align: start;
  padding: 19px 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
}
.why-tab-wrap .nav-item .nav-link i {
  font-size: 24px;
}
.why-tab-wrap .nav-item .nav-link.active {
  background: var(--theme-color);
  color: var(--white-color) !important;
  border-radius: 0;
}
.why-tab-wrap .nav-item .nav-link.active i:before {
  content: "\e042";
}
@media (max-width: 1399px) {
  .why-tab-wrap {
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  .why-tab-wrap .nav-item .nav-link.active {
    border-radius: 0px;
  }
}
@media (max-width: 575px) {
  .why-tab-wrap .nav-item .nav-link {
    padding: 12px 20px;
  }
}

.why-thumb-wrap3-1 {
  background: var(--title-color);
  padding: 40px;
  display: inline-block;
  /* Extra small devices */
}
.why-thumb-wrap3-1 .why-text-wrap {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  margin-top: 45px;
  opacity: 0.5;
}
.why-thumb-wrap3-1 .why-text-wrap .title {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 0;
}
.why-thumb-wrap3-1 .why-text-wrap .line {
  width: -webkit-fill-available;
  height: 1px;
  display: block;
  background: var(--white-color);
}
.why-thumb-wrap3-1 .why-text-wrap .number {
  font-size: 50px;
  font-weight: 700;
  color: var(--white-color);
}
@media (max-width: 575px) {
  .why-thumb-wrap3-1 {
    padding: 30px;
  }
  .why-thumb-wrap3-1 .why-text-wrap {
    margin-top: 35px;
  }
  .why-thumb-wrap3-1 .why-text-wrap .number {
    font-size: 40px;
  }
}

.why-content-wrap .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 33px;
}
.why-content-wrap .subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
/*skill-feature 1***********************/
.skill-feature:not(:last-child) {
  margin-bottom: 25px;
}
.skill-feature .skill-feature_title {
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 16px;
}
.skill-feature .progress {
  background: #EFEFEF;
  height: 8px;
  position: relative;
  overflow: visible;
}
.skill-feature .progress .progress-bar {
  background: var(--theme-color);
  border-radius: 10px;
}
.skill-feature .progress .progress-value {
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--title-font);
  color: var(--title-color);
}

/************** wcu-thumb-wrap ***************/
.wcu-thumb-wrap {
  position: relative;
  display: flex;
  justify-content: end;
  /* Large devices */
  /* Small devices */
}
.wcu-thumb-wrap img {
  border-radius: 10px;
}
.wcu-thumb-wrap .img-1 {
  height: fit-content;
}
.wcu-thumb-wrap .img-2 {
  margin: 120px 0 0 30px;
}
@media (max-width: 1199px) {
  .wcu-thumb-wrap {
    justify-content: start;
  }
}
@media (max-width: 767px) {
  .wcu-thumb-wrap {
    display: block;
  }
  .wcu-thumb-wrap img {
    width: -webkit-fill-available;
    max-height: 300px;
    object-fit: cover;
  }
  .wcu-thumb-wrap .img-1 {
    margin-right: 60px;
  }
  .wcu-thumb-wrap .img-2 {
    margin: 30px 0 0 60px;
  }
}

.tab-pane{
  background: var(--white-color);
}
.tab-pane .tab-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 0;
}
.tab-pane .tab-card .card-img-top{
  border-radius: 0;
}

.tab-pane .tab-card .card-img-top img{
  border-radius: 0;
  object-fit: cover;
  object-position: top;
}
.tab-pane .tab-card .card-description{
  text-align: start;
  padding: 15px 20px;
}
.tab-pane .tab-card .card-description .card-title{
  font-size: 28px;
  font-weight: 600;
  color: var(--theme-color);
}
.service-card_title.heading-desc{
  font-weight: 400;
  line-height: 30px;
}
.bullet-title{
  display: flex;
  font-weight: 500;
}
.bullet-title .bul{
  display: flex;
  background: #e6951533;
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  height: 40px;
}
.some-points span{
  text-transform: capitalize;
  font-size: 18px;
}
.bullet-title p.bul-des{
  text-transform: capitalize;
  padding: 0px 10px;
  font-size: 24px;
}

.some-points{
  display: flex;
  flex-wrap: wrap;
  
}
.some-points i{
 color: var(--theme-color);
 font-size: 24px;
}
.some-points .points{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.tab-desc{
  color: #565656;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.777;
}
.nav-item .why-pill-mob {
  opacity: 0;
  visibility: hidden;
  display: none; /* Ensure it doesn't take up space when inactive */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

.why-pill-mob {
  position: relative; /* Ensure proper stacking */
  width: 100%; /* Adjust width as per your layout */
}


.why-web {
  display: block;
}

@media (max-width: 992px) {
  .nav-item .why-pill-mob {
    visibility: hidden;
    display: none; /* Ensure the element doesn't take up space */
  }

  .why-pill-mob.active {
    opacity: 1;
    visibility: visible;
    display: block; /* Make the element visible when active */
  }
  
  .why-web {
    display: none;
  }
}
/* Small screens (phones) */
@media (max-width: 576px) {
  .tab-pane .tab-card .card-description .card-title {
    font-size: 20px; /* Reduced title font size by 2px */
  }

  .service-card_title.heading-desc {
    font-size: 14px; /* Reduced for smaller screens */
    line-height: 24px;
  }

  .bullet-title p.bul-des {
    font-size: 18px; /* Adjust description font size */
  }

  .some-points span {
    font-size: 16px; /* Adjust points span font size */
  }

  .some-points i {
    font-size: 18px; /* Adjust icon font size */
  }

  .tab-desc {
    font-size: 16px; /* Adjust description font size */
  }
  
}

/* Medium screens (tablets) */
@media (max-width: 992px) {
  .tab-pane .tab-card .card-description .card-title {
    font-size: 22px; /* Reduced title font size by 2px */
  }

  .service-card_title.heading-desc {
    font-size: 16px; /* Reduced for medium screens */
    line-height: 26px;
  }

  .bullet-title p.bul-des {
    font-size: 20px; /* Adjust description font size */
  }

  .some-points span {
    font-size: 17px; /* Adjust points span font size */
  }

  .some-points i {
    font-size: 22px; /* Adjust icon font size */
  }

  .tab-desc {
    font-size: 17px; /* Adjust description font size */
  }
}

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .tab-pane .tab-card .card-description .card-title {
    font-size: 26px; /* Reduced title font size by 2px */
  }

  .service-card_title.heading-desc {
    font-size: 18px; /* Reduced for larger screens */
    line-height: 30px;
  }

  .bullet-title p.bul-des {
    font-size: 22px; /* Adjust description font size */
  }

  .some-points span {
    font-size: 18px; /* Adjust points span font size */
  }

  .some-points i {
    font-size: 24px; /* Adjust icon font size */
  }

  .tab-desc {
    font-size: 18px; /* Keep description font size */
  }
}

/* Screens between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
  .tab-pane .tab-card .card-description .card-title {
    font-size: 24px; /* Reduced title font size by 2px */
  }

  .service-card_title.heading-desc {
    font-size: 16px; /* Reduced for medium-sized devices */
    line-height: 28px;
  }

  .bullet-title p.bul-des {
    font-size: 22px; /* Adjust description font size */
  }

  .some-points span {
    font-size: 17px; /* Adjust points span font size */
  }

  .some-points i {
    font-size: 22px; /* Adjust icon font size */
  }

  .tab-desc {
    font-size: 17px; /* Adjust description font size */
  }
}

.service-card_content .number{
  font-size: 46px;
  font-weight: 600;
  opacity: 0.1;
  transition: opacity 0.5s ease-in-out;
}
.sh-text{
  font-size: 52px;
  font-weight: 500;
}
.some-random-sh-1{
  font-size: 15px;
  border-left: 1px solid #000;
  padding-left: 15px;
}
.team-card {
  background: #fafafa;
  border-radius: 0px;
  padding: 40px 0 0 40px;
  transition: 0.4s;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
  background-position: bottom;
  background-size: cover;
  z-index: 1;
  height: 380px;
  width: 380px;
  /* Medium Large devices */
  /* Large devices */
}
.team-card_img {
  position: relative;
  overflow: hidden;
  text-align: end;
  margin-right: 0px;
  margin-top: -80px;
  z-index: -1;
}
.team-card_img img {
  transition: 0.4s;
  height: 458px;
  object-fit: cover;
  object-position: left;
}
.team-card_content {
  max-width: 214px;
}
.team-card_title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: -0.35em;
}
.team-card_title a {
  color: var(--title-color);
}
.team-card_title a:hover {
  color: var(--theme-color);
}
.team-card_desig {
  font-weight: 400;
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--body-color);
  margin-bottom: 22px;
  display: block;
}
.team-card .contact-btn-wrap {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background: #EDEDED;
  border-radius: 50px;
  z-index: 1;
}
.team-card .contact-btn-wrap .icon-btn {
  --btn-size: 40px;
  border-radius: 50%;
}
.team-card .contact-btn-wrap .icon-btn:hover {
  background-color: #0077B5;
}
.team-card .contact-btn-wrap .number {
  font-size: 16px;
  font-weight: 500;
  color: var(--body-color);
  display: block;
  transform: rotate(-90deg) scaleX(0);
  position: absolute;
  bottom: -40px;
  width: max-content;
  left: 0;
  height: 40px;
  line-height: 40px;
  background: #EDEDED;
  border-radius: 50px;
  padding: 0 15px 0 55px;
  transform-origin: left top;
  z-index: -1;
  transition: 0.4s;
}
.team-card .contact-btn-wrap:hover .number {
  transform: rotate(-90deg) scaleX(1);
}
.team-card:hover {
  border-color: var(--theme-color);
}
@media (max-width: 1399px) {
  .team-card .team-card_img {
    margin-top: -50px;
  }
  .team-card_img img {
    height: 368px;
  }
}
@media (max-width: 1199px) {
  .team-card {
    padding: 30px 0 0 30px;
    width: auto;
  }
  .team-card .team-card_img {
    margin-top: 0;
  }
  .team-card .team-card_title {
    font-size: 24px;
  }
  .team-card .contact-btn-wrap {
    bottom: 30px;
    left: 30px;
    
  }
}
.service-card:hover .number {
  opacity: 1; /* Full opacity on hover */
}
.flickity-button-icon .arrow {
  fill: #E69515 !important;
}
