:root { --section-title-space: 60px; }
:root { --icon-size: 56px; }
:root { --theme-color: #E69515; }
:root { --white-color: #fff; }
:root { --icon-font-size: 24px; }
:root { --section-space: 100px;--title-color:#000; }
a{
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor:none;
}
.circle {
  height: 15px;
  width: 15px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
.cursor-dot{
  width: 10px;
  height: 10px;
  background-color: #000;
  transition: width 0.2s ease, height 0.2s ease;
}
.cursor-outline{
  width: 30px;
  height: 30px;
  border: 2px solid #000;
}
.cursor-dot,
.cursor-outline{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000000000;
  pointer-events: none;
}
.sticky{
  position: sticky;
  inset: 0;
  bottom: unset;
  z-index: 10;
}
.nav-link{
  color: #8E8E8E;
}
.call-icon{
  margin: 10px 5px;
  padding: 10px;
  background: #E69515;
  color: #fff;
}
.mobile-num{
  color: #000;
  font-weight: 700;
}
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensures no overflow from the image */
}

.hero-bg {
  width: 100%; /* Ensure it covers the full width */
  
  position: absolute;
  left: 0;
  z-index: -1;

  /* Ensure the image covers the container */
  object-fit: cover;
  object-position: center; /* Default position for larger screens */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-bg {
    object-position: right; /* Position image to the right on smaller screens */
    height: 100%;
  }
  .lead.hat-desc{
    width: 300px;
  }
  .position-absolute.section-1-bg{
    top: unset;
    bottom: 0;
    object-fit: contain;
    width: 150%;
  }
  .about-us{
    margin-top: 35px;
  }
}


.hero-content {
  position: relative;
  z-index: 1; /* Ensures content is above the background */
  padding: 2rem; /* Example padding *//* Center the content */
}

.hero-container {
  margin-bottom: 0;
}

.hero-head{
  font-weight: bold;
}
.hero-desc{
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 1.777;
}
/* For tablets (medium screens) */
@media (max-width: 991px) {
  .hero-desc {
    font-size: 16px;
    margin: 25px 0px 15px 0px;
    line-height: 1.6;
  }
}

/* For mobile devices (small screens) */
@media (max-width: 576px) {
  .hero-desc {
    font-size: 14px;
    margin: 20px 0px 10px 0px;
    line-height: 1.5;
  }
}
.display-4{
  font-size: calc(12px + 2.7vw);
}
.ylw-btn{
  position: relative;
  z-index: 2;
  text-decoration: none;
  vertical-align: middle;
  display: inline-flex;
  gap: 15px;
  border: none;
  border-radius: 0px !important;
  text-align: center;
  background-color: #E69515;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  padding: 12px;
  overflow: hidden;
  align-items: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.ylw-btn::after, .ylw-btn::before{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color:#fff;
  transition: 1s ease;
}
.ylw-btn:focus:after, .ylw-btn:focus:before, .ylw-btn:hover:after, .ylw-btn:hover:before, .ylw-btn:active:after, .ylw-btn:active:before{
  height: 410px;
  width: 410px;
}
.ylw-btn:before{
  top: -2em;
  left: -2em;
}
.ylw-btn:after{
  left: calc(100% + 2em);
  top: calc(100% + 2em);
}
.ylw-btn:hover, .ylw-btn:focus, .ylw-btn:active{
  color: #000;
}
.section-1-bg{
  width: 700px;
  right: 0;
  z-index: -1;
}
.section-desc {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6; /* Optional for better readability */
  margin: 20px 0px; /* Optional */
}

/* For tablets (medium screens) */
@media (max-width: 991px) {
  .section-desc {
    font-size: 13px; /* Slightly smaller for tablets */
    line-height: 1.5; /* Adjusted for smaller text */
    margin: 15px 0px; /* Compact margins */
  }
}

/* For mobile devices (small screens) */
@media (max-width: 576px) {
  .section-desc {
    font-size: 12px; /* Further reduction for mobile screens */
    line-height: 1.4; /* Adjusted for smaller text */
    margin: 10px 0px; /* Compact margins */
  }
}

.section-1-head{
  font-weight: 500;
}
.hat-icon{
  width: 50px;
}
.hat-desc{
  font-weight: 400;
  width: fit-content;
}
.hat-desc {
  font-size: 18px; /* Matches hero-desc */
  font-weight: 400;
  line-height: 1.777; /* Matches hero-desc */
}

/* For tablets (medium screens) */
@media (max-width: 991px) {
  .hat-desc {
    font-size: 16px; /* Matches hero-desc */
    line-height: 1.6; /* Matches hero-desc */
  }
}

/* For mobile devices (small screens) */
@media (max-width: 576px) {
  .hat-desc {
    font-size: 14px; /* Matches hero-desc */
    line-height: 1.5; /* Matches hero-desc */
  }
}

#footer{
  font-size: 14px;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
  background: #000000;
  color: #fff;
  .footer-top{
      padding: 60px 0 30px 0;
  }
}
#footer .footer-top .footer-links ul li{
  padding: 6px 0;
}
#footer .footer-top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 16px;
}
#footer .footer-top .footer-links ul a{
  color: #ffff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
.footer-links h3{
  color: #E6A135;
  font-size: 20px;
  margin-bottom: 0.5rem;
}
li.touch p{
  color: white;
  float: right;
  margin-left: 8px;
}
.touch i.bi{
  font-size: 19px !important;
  color: #E6A135 !important;
}
#footer .footer-top .footer-links{
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul i{
  padding-right: 2px;
  color: #ffff;
  font-size: 26px;
  line-height: 1;
}
.subcomponent {
  opacity: 0;
  transform: translateY(50px); /* Example for fadeInUp */
  transition: opacity 1s cubic-bezier(0.25, 0.1, 0.25, 1), transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.social-links a{
  margin-right: 5px;
}
.space, .space-top{
  padding-top: 100px;
}
.bg-attachment{
  background-attachment: fixed;
}
.background-image, [data-bg-src]{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
[data-overlay]{
  position: relative;
  z-index: 2;
}
[data-overlay] [class^=col-], [data-overlay] [class*=col-]{
  z-index: 1;
}
[data-opacity="8"]:before{
  opacity: 0.8;
}
[data-overlay=title]:before{
  background-color: #15161c5c;
}
[data-overlay]:before{
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}
.title-area{
  margin-bottom: calc(var(--section-title-space) - 10px);
  position: relative;
  z-index: 2;
}
.sub-title{
  display: block;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  font-weight: 400;
  font-family: var(--title-font);
  margin-bottom: 30px;
}
.sub-title.text-white img{
  filter: brightness(9) grayscale(9);
}
.title-area .sec-title{
  margin-bottom: calc(var(--section-title-space) - 36px);
  margin-top: -0.15em;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
}
.sec-btn{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--section-title-space);
}
.play-btn-wrap{
  align-items: center;
  gap: 40px;
  font-size: 20px;
  color: #fff;
  max-width: 142px;
  flex-wrap: nowrap;
  display: flex;
  line-height: 1.6em;
}
.play-btn.style2{
  --icon-size: 56px;
  --icon-font-size: 24px;
}
.play-btn{
  display: inline-block;
  position: relative;
  z-index: 1;
}
.play-btn.style2:after, .play-btn.style2:before{
  background: rgba(255, 255, 255, 0.1);
}
.ripple-animation, .play-btn:after, .play-btn:before{
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: ripple;
}
.play-btn:after, .play-btn:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: -1;
  border-radius: 50%;
  transition: all ease 0.4s;
}
.play-btn.style2 i{
  background: #fff;
  color: #E69515;
  line-height: 58px;
}
.play-btn > i{
  display: inline-block;
  width: var(--icon-size, 100px);
  height: var(--icon-size, 100px);
  line-height: var(--icon-size, 100px);
  text-align: center;
  background-color: var(--theme-color);
  color: var(--white-color);
  font-size: var(--icon-font-size, 30px);
  border-radius: 50%;
  z-index: 1;
  transition: all ease 0.4s;
}
.play-btn:after{
  animation-delay: 2s;
}
.process-card-wrap{
  margin-top: -130px;
  margin-bottom: 130px;
  transform: translate(0, 130px);
  position: relative;
  z-index: 2;
}
.gx-30{
  --bs-gutter-x: 30px;
}
.gy-30{
  --bs-gutter-y: 30px;
}
.process-card{
  background: var(--white-color);
  padding: 30px 30px 40px;
  box-shadow: 0px 4px 18.4px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  position: relative;
}
.process-card .process-card-number{
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.12);
}
.process-card .process-card-number span{
  display: inline-block;
  background: #000;
  width: 42px;
  height: 48px;
  line-height: 48px;
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  transition: 0.4s;
}
.process-card .process-card-title{
  font-size: 22px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 15px;
}
.process-card .process-card-text{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -0.5em;
}
.process-card:after{
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid;
  border-image: linear-gradient(180deg, var(--theme-color), transparent) 1;
  transition: 0.4s;
  opacity: 0;
}
.process-card:hover{
  box-shadow: 0px 4px 18.4px rgba(234, 85, 1, 0.2);
}
.process-card:hover .process-card-number span{
  background: var(--theme-color);
}
.process-card:hover:after{
  opacity: 1;
}
.space, .space-bottom{
  padding-bottom: var(--section-space);
}
.space, .space-top{
  padding-top: var(--section-space);
}
.client-area-1{
  z-index: 1;
  background-attachment: fixed;
}
.client-area-1:before{
  z-index: -1;
}
[data-opacity="9"]:before{
  opacity: 0.9;
}
.shape-mockup{
  position: absolute;
  z-index: -1;
}
.space-1{
  padding: 50px 0;
}
.mini-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100% !important;
  font-size: 16px;
  margin-bottom: 30px;
  gap: 5px;
}
@media (max-width: 576px){
  .mini-title{
    justify-content: center;
  }
}

/* Service CSS start */
.service-card {
  background: var(--white-color);
  border-radius: 0px;
  padding: 30px 50px 0px 30px;
  border: 2px solid var(--white-color);
  position: relative;
  margin-bottom: 25px;
  transition: 0.4s;
}
.service-card:after {
  content: "";
  position: absolute;
  right: 40px;
  top: 65px;
  width: 157px;
  height: 1px;
  background: var(--title-color);
  opacity: 0.1;
}
.service-card-shadow-text {
  position: absolute;
  transform: rotate(-90deg) translate(-50%, 0);
  font-size: 36px;
  font-weight: 600;
  font-family: var(--title-font);
  color: transparent;
  -webkit-text-stroke: 1px var(--title-color);
  transform-origin: left top;
  top: 50%;
  left: 35px;
  opacity: 0.15;
}
.service-card_content {
  padding: 0 0px 0 10px;
}
.service-card_icon {
  display: inline-block;
  margin-bottom: 35px;
  position: relative;
  padding: 10px 0 0 10px;
  margin-left: -10px;
}
.service-card_icon img {
  transition: 0.4s;
}
.service-card_icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background: var(--theme-color);
  opacity: 0.1;
}
.service-card_title {
  margin-top: -0.3em;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
}
.service-card_title a {
  color: var(--title-color);
}
.service-card_title a:hover {
  color: var(--theme-color);
}
.service-card_text {
  font-size: 14px;
  margin-bottom: 23px;
  color: #8E8E8E;
}
.service-card .btn-wrap {
  justify-content: end;
  position: relative;
  transform: translate(0, 25px);
  margin-top: -25px;
  margin-right: -20px;
}
.icon-btn{
  display: inline-block;
  width: var(--btn-size, 50px);
  height: var(--btn-size, 50px);
  line-height: var(--btn-size, 50px);
  font-size: var(--btn-font-size, 20px);
  background-color: var(--theme-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 0px;
  border: none;
  transition: 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-card .btn-wrap .icon-btn {
  background: var(--theme-color);
  color: var(--white-color);
}
.service-card .btn-wrap .ylw-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px 24px;
  opacity: 0;
  transition: 0.4s;
}
.service-card:hover {
  border-color: var(--theme-color);
}
.service-card:hover .service-card_icon img {
  transform: rotateY(180deg);
}
.service-card:hover .btn-wrap .ylw-btn {
  opacity: 1;
}
@media (max-width: 1399px) {
  .service-card {
    padding: 30px 20px 0px 20px;
  }
  .service-card .service-card:after {
    right: 35px;
  }
  .service-card .service-card-shadow-text {
    font-size: 30px;
    left: 25px;
  }
  .service-card .btn-wrap {
    margin-right: -5px;
  }
}
.service-card-title{
  gap: 15px;
}
.service-card-add-text{
  font-size: 16px;
  font-weight:400;
}
.mini-bullet{
  font-size: 14px;
}
.btn-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
}
.service-card .ylw-btn{
  font-size: 20px;
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align elements consistently */
  height: 100%; /* Ensure cards have equal height */
}

.service-card_text {
  min-height: 150px; /* Set a minimum height to align all paragraphs */
  margin-bottom: 1rem; /* Space out the paragraph from the heading */
}

.service-card-add-text {
  margin-top: auto; /* Push the heading to the bottom of the card content */
}

/* Process */
.process-thumb2-1 img{
  max-width: 100%;
  height: auto;
}
.process-grid-list {
  position: relative;
}
.process-grid-list .process-grid-list-bg-text {
  font-size: 250px;
  font-weight: 600;
  color: var(--title-color);
  font-family: var(--title-font);
  letter-spacing: -0.015em;
  text-transform: uppercase;
  opacity: 0.03;
  transform: rotate(-90deg) translate(50%, -100%);
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: right top;
  z-index: -1;
  /* Medium Large devices */
  /* Large devices */
  /* Medium devices */
  /* Small devices */
  /* Extra small devices */
}
@media (max-width: 1399px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 210px;
  }
}
@media (max-width: 1199px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 180px;
  }
}
@media (max-width: 991px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 250px;
  }
}
@media (max-width: 767px) {
  .process-grid-list .process-grid-list-bg-text {
    font-size: 200px;
  }
}
@media (max-width: 575px) {
  .process-grid-list .process-grid-list-bg-text {
    display: none;
  }
}
.process-grid-list .process-grid {
  --left-space: 50px;
  /* Medium Large devices */
  /* Large devices */
}
.process-grid-list .process-grid ~ .process-grid {
  margin-left: var(--left-space);
}
.process-grid-list .process-grid ~ .process-grid ~ .process-grid {
  margin-left: calc(var(--left-space) * 2);
}
.process-grid-list .process-grid ~ .process-grid ~ .process-grid ~ .process-grid {
  margin-left: calc(var(--left-space) * 3);
}
.process-grid-list .process-grid ~ .process-grid ~ .process-grid ~ .process-grid ~ .process-grid {
  margin-left: calc(var(--left-space) * 4);
}
@media (max-width: 1399px) {
  .process-grid-list .process-grid {
    --left-space: 40px;
  }
}
@media (max-width: 1199px) {
  .process-grid-list .process-grid {
    --left-space: 0px;
  }
}
.process-grid-list.style2 .process-grid-list-bg-text {
  font-size: 180px;
}

.process-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  /* Extra small devices */
}
.process-grid:not(:last-child) {
  margin-bottom: 60px;
}
.process-grid .process-grid-number {
  flex: none;
  font-size: 80px;
  font-weight: 600;
  font-family: var(--title-font);
  margin-bottom: 0;
  line-height: 1;
  opacity: 0.06;
  letter-spacing: -0.015em;
  position: relative;
  transition: 0.4s;
  color: var(--title-color);
  padding-left: 17px;
  margin-top: -0.3em;
}
.process-grid .process-grid-number:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 40px;
  height: 50px;
  background: var(--theme-color);
  opacity: 0.1;
  z-index: -1;
}
.process-grid .process-grid-title {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--title-font);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.process-grid .process-grid-text {
  margin-bottom: -0.3em;
  max-width: 500px;
  font-size: 14px;
  color: #8e8e8e;
}
.process-grid:hover .process-grid-number {
  opacity: 1;
  color: var(--theme-color);
}
@media (max-width: 575px) {
  .process-grid {
    flex-wrap: wrap;
    gap: 20px;
  }
  .process-grid .process-grid-number {
    font-size: 60px;
    padding-left: 0;
  }
  .process-grid:not(:last-child) {
    margin-bottom: 50px;
  }
}

/* Portfolio */
.portfolio-card{
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  padding-bottom: 30px;
}
.portfolio-card.style2 {
  border-bottom: 1px solid rgba(21, 22, 28, 0.6);
  transition: 0.4s;
  padding-bottom: 0;
  background: var(--smoke-color);
}
.portfolio-card.style2:after {
  display: none;
}
.portfolio-card.style2 .portfolio-card-thumb {
  position: relative;
}
.portfolio-card .portfolio-card-thumb img{
  border-radius: 0px;
  width: 100%;
}
.portfolio-card.style2 .portfolio-card-thumb:after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.4s;
}
.portfolio-card.style2 .portfolio-card-thumb .icon-btn {
  background: var(--white-color);
  border-radius: 0;
  opacity: 0;
  top: 50%;
  right: 50%;
  transform: translate(50%, calc(-50% - 20px));
}
.portfolio-card.style2 .portfolio-card-thumb .icon-btn:hover {
  background: var(--title-color);
  color: var(--white-color);
}
.portfolio-card.style2 .portfolio-card-thumb .portfolio-card-number {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: var(--title-color);
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.4s;
}
.portfolio-card.style2 .portfolio-card-details {
  position: initial;
  opacity: 1;
  padding: 0px 25px 25px;
  display: block;
  background: #f5f5f5;
}
.portfolio-card.style2 .portfolio-card-subtitle {
  background: var(--theme-color);
  color: var(--white-color);
  transform: translate(0, -50%);
  margin-bottom: 12px;
}
.portfolio-card.style2 .portfolio-card-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
  /* Medium Large devices */
}
.portfolio-card.style2 .portfolio-card-title a {
  color: var(--title-color);
}
.portfolio-card.style2 .portfolio-card-title a:hover {
  color: var(--theme-color);
}
@media (max-width: 1399px) {
  .portfolio-card.style2 .portfolio-card-title {
    font-size: 22px;
  }
}
.portfolio-card.style2 .portofolio-card-text {
  display: block;
  color: var(--body-color);
  opacity: 0.9;
  margin-bottom: 20px;
}
.portfolio-card.style2:hover {
  border-color: var(--theme-color);
}
.portfolio-card.style2:hover .portfolio-card-thumb:after {
  opacity: 0.5;
}
.portfolio-card.style2:hover .portfolio-card-thumb .icon-btn {
  opacity: 1;
  transform: translate(50%, -50%);
}
.portfolio-card.style2:hover .portfolio-card-thumb .portfolio-card-number {
  opacity: 0;
}
.portfolio-card.style2:hover .portfolio-card-title a {
  color: var(--theme-color);
}
.portfolio-card.style2:hover .btn-with-icon {
  color: var(--title-color);
}
.portfolio-card .portfolio-card-subtitle{
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--title-font);
  margin-bottom: 17px;
  padding: 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.29);
}
.portfolio-card .portfolio-card-details{
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  padding: 60px;
  flex-wrap: wrap;
  transition: 0.4s;
  opacity: 0;
  gap: 30px;
}
.portfolio-card .portofolio-card-text{
  font-size: 14px;
  font-weight: 400;
  color: #696969;
  opacity: 0.9;
  margin-bottom: -0.3em;
}
.btn-with-icon{
  font-size: 15px;
  font-weight: 600;
  font-family: var(--title-font);
  color: var(--body-color);
  text-transform: uppercase;
  display: inline-flex;
  gap: 10px;
  transition: 0.4s;
  border: 0;
  background: transparent;
}
.btn-with-icon .btn-icon{
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  display: inline-flex;
  background: rgba(21, 22, 28, 0.1);
  color: var(--title-color);
  transition: inherit;
  justify-content: center;
  align-items: center;
}
.btn-with-icon:hover{
  color: var(--theme-color);
}
.btn-with-icon:hover .btn-icon{
  background: var(--theme-color);
  color: var(--white-color);
  transform: rotate(45deg);
}
/*------------------- 4.00. Portfolio -------------------*/
/* Portfolio 1 ---------------------------------- */
.portfolio-card {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  padding-bottom: 30px;
  /* Medium devices */
  /* Small devices */
}
.portfolio-card:after {
  content: "";
  position: absolute;
  inset: 0 0 30px 0;
  background: linear-gradient(190.47deg, rgba(2, 2, 18, 0) 5.21%, rgba(2, 2, 18, 0.8) 92.2%);
}
.portfolio-card .portfolio-card-thumb {
  position: relative;
  border-radius: 0px;
}
.portfolio-card .portfolio-card-thumb img {
  border-radius: 0px;
  width: 100%;
}
.portfolio-card .portfolio-card-thumb .icon-btn {
  position: absolute;
  right: 40px;
  top: 0px;
  background: var(--white-color);
  color: var(--theme-color);
  z-index: 1;
  border-radius: 50%;
  opacity: 0;
}
.portfolio-card .portfolio-card-details {
  position: absolute;
  z-index: 1;
  bottom: -100px;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
  padding: 60px;
  flex-wrap: wrap;
  transition: 0.4s;
  opacity: 0;
  gap: 30px;
}
.portfolio-card .portfolio-card-subtitle {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  font-family: var(--title-font);
  margin-bottom: 17px;
  padding: 2px 10px;
  display: inline-block;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.29);
}
.portfolio-card .portfolio-card-title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 2px;
}
.portfolio-card .portfolio-card-title a {
  color: var(--white-color);
}
.portfolio-card .portfolio-card-title a:hover {
  color: var(--theme-color);
}
.portfolio-card .portofolio-card-text {
  font-size: 14px;
  font-weight: 400;
  color: #696969;
  opacity: 0.9;
  margin-bottom: -0.3em;
}
.portfolio-card .btn {
  position: absolute;
  right: 40px;
  bottom: -32px;
  z-index: 2;
  opacity: 0;
  transition: 0.4s;
  border: 2px solid var(--white-color);
}
@media (max-width: 991px) {
  .portfolio-card .portfolio-card-details {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .portfolio-card .portfolio-card-details {
    padding: 30px 30px 60px 30px;
  }
  .portfolio-card .portfolio-card-title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .portfolio-card .portfolio-card-thumb .icon-btn {
    right: 30px;
  }
  .portfolio-card .btn {
    right: auto;
    left: 30px;
  }
  .portfolio-card .portfolio-card-thumb img {
    height: 350px;
    object-fit: cover;
  }
}

.portfolio-slider1 .slick-current .portfolio-card {
  /* Small devices */
}
.portfolio-slider1 .slick-current .portfolio-card .portfolio-card-thumb .icon-btn {
  opacity: 1;
  top: 40px;
}
.portfolio-slider1 .slick-current .portfolio-card .portfolio-card-details {
  bottom: 30px;
  opacity: 1;
}
.portfolio-slider1 .slick-current .portfolio-card .btn {
  opacity: 1;
  bottom: 0;
}
@media (max-width: 767px) {
  .portfolio-slider1 .slick-current .portfolio-card .portfolio-card-thumb .icon-btn {
    top: 30px;
  }
}
.portfolio-card.style2:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.portfolio-card.style2 .portfolio-card-thumb img {
  transition: transform 0.3s ease;
}

.portfolio-card.style2:hover .portfolio-card-thumb img {
  transform: scale(1.1);
}
.social-icons{
  display: flex;
  position: fixed;
  bottom: 0px;
  right: 20px;
  flex-direction: column;
}
a.social-pill{
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
